@space: blue;
@bird: rgb(0, 204, 0);
@pipe: red;

.gameGrid{
	font-size: 10px;
	position: absolute;
	background-color: @space;
	height: 58em;
	width: 60em;
	top: 50%;
	left: 50%;
	margin-left: -31em;
	margin-top: -26.5em;
	overflow: hidden;

}

.birdy{
	position: absolute;
	background-color: @bird;
	height: 5em;
	width: 5em;
	top: 0em;
	left: 0em;
}

.topObstacle{
	background-color: @pipe;
	height: 0em;
	width: 0em;
	top: 0em;
	left: 0em;

}

.bottomObstacle{
	
}