.gameGrid {
  font-size: 10px;
  position: absolute;
  background-color: blue;
  height: 58em;
  width: 60em;
  top: 50%;
  left: 50%;
  margin-left: -31em;
  margin-top: -26.5em;
  overflow: hidden;
}
.birdy {
  position: absolute;
  background-color: #00cc00;
  height: 5em;
  width: 5em;
  top: 0em;
  left: 0em;
}
.topObstacle {
  background-color: red;
  height: 40em;
  width: 5em;
  top: 0em;
  left: 0em;
  position: absolute;
}
.bottomObstacle {
  background-color: red;
  height: 40em;
  width: 5em;
  top: 0em;
  left: 0em;
  position: absolute;
}
.topObstacle2 {
  background-color: yellow;
  height: 40em;
  width: 5em;
  top: 0em;
  left: 0em;
  position: absolute;
}
.bottomObstacle2 {
  background-color: yellow;
  height: 40em;
  width: 5em;
  top: 0em;
  left: 0em;
  position: absolute;
}
