img {
  max-width: 100%;
  max-height: 100%;
}
.gameGrid {
  font-size: 10px;
  position: absolute;
  background-image: url("back.jpg");
  height: 58em;
  width: 60em;
  top: 50%;
  left: 50%;
  margin-left: -31em;
  margin-top: -26.5em;
  overflow: hidden;
}
.birdy {
  position: absolute;
  background-color: #f82f4f;
  height: 5em;
  width: 5em;
  top: 0em;
  left: 0em;
  border-radius: 14%;
}
.eyes {
  background-color: #FFF;
  border-radius: 100%;
  position: absolute;
  width: 1.5em;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  left: 4em;
  top: 0.4em;
}
.wings {
  background-color: #F82F4F;
  width: 0;
  height: 0;
  border-left: 2em solid rgba(10, 0, 0, 0);
  border-right: 2em solid rgba(0, 0, 0, 0);
  border-top: 20px solid #AE384A;
  position: absolute;
  top: 2.5em;
  transform-origin: top left;
  animation: 0.4s flap alernate infinity;
  -webkit-animation-name: flap;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
}
.beak {
  position: absolute;
  width: 1em;
  height: 0;
  border-top: 11px solid rgba(0, 0, 0, 0);
  border-bottom: 12px solid rgba(0, 0, 0, 0);
  border-left: 15px solid #A6A146;
  left: 4.9em;
  top: 1.8em;
}
.topObstacle {
  background-image: url("veggur1.jpeg");
  height: 40em;
  width: 5em;
  top: 0em;
  left: 0em;
  position: absolute;
}
.bottomObstacle {
  background-image: url("veggur1.jpeg");
  height: 40em;
  width: 5em;
  top: 0em;
  left: 0em;
  position: absolute;
}
.topObstacle2 {
  background-image: url("veggur1.jpeg");
  height: 40em;
  width: 5em;
  top: 0em;
  left: 0em;
  position: absolute;
}
.bottomObstacle2 {
  background-image: url("veggur1.jpeg");
  height: 40em;
  width: 5em;
  top: 0em;
  left: 0em;
  position: absolute;
}
#myScore {
  position: absolute;
  top: 2em;
  left: 2em;
  font-size: 3em;
  font-family: monospace;
  color: white;
}
#scoreBoardResault {
  margin-top: 1em;
  font-size: 3em;
  font-family: monospace;
  color: white;
}
#scoreBoardResaultText {
  margin-top: 2em;
  font-size: 3em;
  font-family: monospace;
  color: white;
}
.ground {
  position: absolute;
  background-image: url("moon.jpg");
  background-repeat: repeat-x;
  height: 6em;
  width: 74.1em;
  top: 52em;
  left: 0em;
  -webkit-transform: translateZ(0);
  -webkit-animation-name: ground-animation;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
}
.ship1 {
  position: absolute;
  height: 12em;
  width: 11em;
  top: 2em;
  left: 65em;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -webkit-animation-name: ship-animation;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
}
.cow {
  position: absolute;
  height: 6em;
  width: 7em;
  top: 17em;
  left: 160em;
  -webkit-transform: translateZ(0);
  -webkit-animation-name: cow-animation;
  -webkit-animation-duration: 12s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
}
@-webkit-keyframes cow-animation {
  from {
    -webkit-transform: rotateZ(180deg);
  }
  to {
    -webkit-transform: translate(-2000px, 0);
  }
}
@-webkit-keyframes flap {
  from {
    -webkit-transform: rotateX(0);
  }
  to {
    -webkit-transform: rotateX(180deg);
  }
}
@-webkit-keyframes ground-animation {
  from {
    -webkit-transform: none;
  }
  to {
    -webkit-transform: translate(-141px, 0);
  }
}
@-webkit-keyframes ship-animation {
  from {
    -webkit-transform: none;
  }
  25% {
    -webkit-transform: translate(30px, 0);
  }
  50% {
    -webkit-transform: translate(-500px, 35px);
  }
  75% {
    -webkit-transform: translate(-1000px, 10px);
  }
  to {
    -webkit-transform: translate(-2000px, 0);
  }
}
.Scoreboard {
  position: absolute;
  left: 50%;
  top: 10em;
  height: 30em;
  width: 40em;
  margin-left: -20em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: black;
  text-align: center;
  -webkit-transform: translate(0, -40em);
  -webkit-transition: -webkit-transform 0.5s;
}
/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
  -webkit-transform: none;
}
.Scoreboard-restart {
  margin-top: 6em;
  font-size: inherit;
  padding: 0.4em 1.5em;
  border: 0.2em solid #00fd55;
  background: none;
  cursor: pointer;
}
.Scoreboard-restartText {
  font-family: monospace;
  font-size: 2.4em;
  color: #00fd55;
}
