@bird: rgb(248, 47, 79);
@fontSize: 10px;

#mute{
  	position: absolute;
  	left: 56em;
  	top: 1em;
	height: 3em;
	width: 3em;
}

.gameGrid{
	font-size: @fontSize;
	position: absolute;
	background-image: url("back.jpg");
	background-size: cover;
	height: 58em;
	width: 60em;
	top: 50%;
	left: 50%;
	margin-left: -31em;
	margin-top: -26.5em;
	overflow: hidden;
}

#myScore{
	position: absolute;
	top: 2em;
	left: 2em;
	font-size: 3em;
	font-family: monospace;
	color: white;
}

.ground{
	border: solid;
	border-color: #6E6B63;
	position: absolute;
	background-image: url("moon.jpg");
    background-repeat: repeat-x;
	height: 6em;
	width: 400em;
	top: 52em;
	left: 0em;
	
	-webkit-transform: translateZ(0);

	-webkit-animation-name: ground-animation;
	-webkit-animation-duration: 0.75s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0;
	-webkit-animation-direction: normal;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: none;
}

@-webkit-keyframes ground-animation {
  from {
    -webkit-transform: none;
  }
  to {
    -webkit-transform: translate(-141px, 0);
  }
}


@import "scoreboard";
@import "pipes";
@import "bird";
@import "parallax";