.topObstacle{
  -webkit-animation-name: test-animation;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function:
   linear;
  -webkit-animation-delay: 0;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  //-webkit-animation-fill-mode: none;
}

@-webkit-keyframes test-animation {
  from {
    -webkit-transform: translate(60em, 0);
  }
  to {
    -webkit-transform: translate(-10em, 0);
  }
}